{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<article class="container opacity shadow p-3 mb-4 mt-4 col-xl-8 bg-light">
    <h1>Login</h1>

    {% if user.errors is not empty %}
    <p>Errors:</p>
    <ul>
        {% for error in user.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" action="/login/create">

        <div>
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" name="email" placeholder="Email adres"
                   value="{{email}}">
        </div>
        <div>
            <label for="password">Wachtwoord</label>
            <input id="password" type="password" class="form-control" name="password" placeholder="Wachtwoord">
        </div>
        <br>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-inputcontrol" name="remember_me" {% if remember_me %} checked="checked" {% endif %}
                       type="checkbox"/> Onthoud mij
            </label>
        </div>


        <br>
        <button class="btn btn-default" type="submit" value="Submit">login</button>
        <a href="/password/forgot">Wachtwoord vergeten?</a>

    </form>
    <br>
</article>
<br>
{% endblock %}